/* CSS Document */

:root{
  --main-sonic-color: #0072bb;
  --main-super-color:#FFF601;
  --secondary-sonic-color:#fee8da;
}

@font-face{
  font-family: 'RuneScape UF';
  src: url('../fonts/RuneScape-UF.woff');
  font-weight: normal;
  font-style: normal;
}

*, *::after, *::before {
  box-sizing:border-box;  
}

html, body {
  height:0;
  margin:0;
}

.gems{
  height: 50px;
  width: 50px;
  position: absolute;
  top: 840px;
}

.gems:hover{
  animation: bounce 2s ease-in-out infinite;
}

.gems .btn-gems{
  height: 100%;
  width: 100%;
  outline: none;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

div.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/greenhill.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


div.sonic{
  display: flex;
  position: relative;
  z-index: 300;
  top: -44px;
}

.glow{
  filter: drop-shadow(20px 15px 45px gold);
}

div.haar{
  position: relative;
}

.haar.super{
  transform: rotate(217deg) scaleX(-1);
  top: -103px;
  left: 32px;
}


.hoofd{
  background: var(--main-sonic-color);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 3px solid black;
  overflow:hidden;
}

.super-hoofd{
  background: var(--main-super-color);
}

 div.haar .spike:nth-of-type(1){
  width: 121px;
  height: 99px;
  top: 75px;
  left: -85px;
  border-radius: 100% 0% 100% 0% / 100% 100% 0% 0% ;
  position: absolute;
  transform: scale(1.5) rotate(12deg);
  z-index: 99;
  background-image: radial-gradient(at 48% bottom, transparent 61px, black 50px);
  background-size: 500% 100%;
  background-position:center bottom;
}

 div.haar .spike:nth-of-type(1)::after{
  content: "";
  width: 121px;
  height: 99px;
  top: -2px;
  left: 5px;
  border-radius: 100% 0% 100% 0% / 100% 100% 0% 0%;
  position: absolute;
  transform: scale(1) rotate(3deg);
  z-index: 99;
  background-image: radial-gradient(at 48% bottom, transparent 61px, var(--main-sonic-color) 50px);
  background-size: 500% 100%;
  background-position: center bottom;
}



div.haar .spike:nth-of-type(2){
  width: 100px;
  height: 84px;
  top: 190px;
  left: -60px;
  border-radius: 100% 0% 100% 0% / 100% 100% 0% 0%;
  position: absolute;
  transform: scale(1.5) rotate(350deg);
  z-index: 99;
  background-image: radial-gradient(at 50% bottom, transparent 61px, black 50px);
  background-size: 500% 100%;
  background-position: center bottom;
}

div.haar .spike:nth-of-type(2)::after{
  content: "";
  width: 100px;
  height: 84px;
  top: -2px;
  left: 6px;
  border-radius: 100% 0% 100% 0% / 100% 100% 0% 0%;
  position: absolute;
  transform: scale(1) rotate(2deg);
  z-index: 99;
  background-image: radial-gradient(at 50% bottom, transparent 61px, var(--main-sonic-color) 50px);
  background-size: 500% 100%;
  background-position: center bottom;
}



div.haar .spike:nth-of-type(3){
  width: 123px;
  height: 122px;
  top: -36px;
  left: 3px;
  border-radius: 100% 0% 100% 0% / 100% 100% 0% 0% ;
  position: absolute;
  transform: scale(2.1) rotate(54deg);

  background-image: radial-gradient(at 49% bottom, transparent 61px, black 50px);
  background-size: 337% 100%;
  background-position:center bottom;
}


div.haar .spike:nth-of-type(3)::after{
  content: "";
  width: 123px;
  height: 122px;
  top: -2px;
  left: 4px;
  border-radius: 100% 0% 100% 0% / 100% 100% 0% 0%;
  position: absolute;
  transform: scale(1) rotate(2deg);
  background-image: radial-gradient(at 49% bottom, transparent 61px, var(--main-sonic-color) 50px);
  background-size: 337% 100%;
  background-position: center bottom;
}

div.mond{
  position: relative;
  height: 100px;
  width: 300px;
  top: -78px;
  filter: drop-shadow(-3px -6px 0px black);
  z-index: 900;

}

div.lippen{
  position: absolute;
  width: 253px;
  height: 150px;
  border-radius: 51% 52% 27% 38% / 81% 61% 25% 25%;
  transform: rotate(193deg);
  background: radial-gradient(circle at 50% 281%, transparent 70%, var(--secondary-sonic-color) 60% );
  top: 12px;
  left: 49px;
  z-index: 800;

}

div.mond .curve{
  position: relative;
  border-radius: 150px 150px 0 0;
  background-color: var(--secondary-sonic-color);
}

div.smile{
  height: 125px;
  width: 250px;
}

div.mond .lippen .smile .smirk{
  box-sizing: border-box;
  width: 266px;
  height: 343px;
  position: absolute;
  top: -87px;
  right: -83px;
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  border-style: solid;
  border-width: 19px 5px;
  border-color: black transparent transparent transparent;
  z-index: 100;
  transform: rotate( 472deg) scale(0.2);
}

div.mond .lippen .smile .smirk-rechts{
  box-sizing: border-box;
    width: 306px;
    height: 344px;
    position: absolute;
    top: -22px;
    right: -97px;
    /* background-color: red; */
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    border-style: solid;
    border-width: 7px 25px;
    border-color: black transparent transparent transparent;
    z-index: 100;
    transform: rotate( 369deg) scale(0.4);
}

div.mond .curve.links{
  top: 21px;
  left: 85px;
  height: 43px;
  width: 34px;
  transform: translate(-50%, -50%) rotate(314deg);
}

div.mond .curve .links::before{
  content: "";
  top: 21px;
  position: absolute;
  left: 85px;
  height: 43px;
  width: 34px;
  transform: translate(-50%, -50%) rotate(314deg);
  background: black;
}

div.mond .curve.rechts{
  height: 45px;
  width: 45px;
  transform: rotate(71deg);
  top: 5px;
  left: 241px;
  position: relative;
}

div.neus{
  background: black;
  border-radius: 50%;
  height: 39px;
  width: 71px;
  position: absolute;
  top: 219px;
  left: 240px;
  z-index: 1000;
}

div.neus::after{
  content: "";
  background: white;
  border-radius: 50%;
  height: 11px;
  width: 26px;
  position: absolute;
  top: 6px;
  left: 23px;
}

div.oog{
  position: relative;
  height: 252px;
  width: 300px;
}


div.oog .oog-links{
  background: black;
  height: 158px;
  width: 102px;
  border-radius: 54% 48% 0% 29% / 50% 50% 50% 50%;
  position: relative;
  left: 107px;
  top: 72px;
  transform: rotate(15deg);
}

div.hoofd .wenkbrauw-links{
  box-sizing: border-box;
  width: 171px;
  height: 343px;
  position: absolute;
  top: 3px;
  right: 44px;
  /* background-color: red; */
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  border-style: solid;
  border-width: 3px 2px;
  border-color: black transparent transparent transparent;
  z-index: 100;
  transform: rotate(360deg) scale(0.7);
}

div.hoofd .wenkbrauw-rechts{
  box-sizing: border-box;
  width: 159px;
  height: 343px;
  position: absolute;
  top: -6px;
  right: -59px;
  border-radius: 50% 50% 50% 50% / 40% 50% 50% 50%;
  border-style: solid;
  border-width: 7px 2px;
  border-color: black black transparent transparent;
  z-index: 100;
  transform: rotate( 10deg) scale(0.4);
  overflow: hidden;
}

div.hoofd .wenkbrauw-rechts .wenkbrauw-rechts-curve{
  position: absolute;
  top: -12px;
  left: 44px;
  transform: rotate(351deg);
}

div.oog .oog-links .pupil-links{
  background: black;
  height: 79px;
  width: 33px;
  position: relative;
  border-radius: 50%;
  left: 26px;
  top: 37px;
}

div.oog .oog-links .pupil-links::after{
  content: "";
  background: white;
  height: 37px;
  width: 11px;
  position: absolute;
  border-radius: 50%;
  left: 8px;
  top: 9px;
}

div.oog .oog-links::before{
  content: "";
  background: white;
  height: 158px;
  width: 105px;
  border-radius: 54% 48% 0% 29% / 50% 50% 50% 50%;
  position: absolute;
  left: -1px;
  top: -3px;
  transform: rotate(359deg) scale(0.9);
}

div.oog .oog-links::after{
  content: "";
  height: 100px;
  position: absolute;
  top: 40px;
  left: 93px;
  background: radial-gradient(at 40% bottom, var(--main-sonic-color), var(--main-sonic-color) 50%, black 56%, white 57%);
  transform: rotate(172deg);
  width: 62px;
  background-position: 400% 310%;
  background-size: 100% 100%;
}


div.oog .oog-rechts::before{
  content: "";
  background: white;
  height: 138px;
  width: 35px;
  position: absolute;
  top: -2px;
  left: 0px;
  border-radius: 50% 50% 50% 50% / 49% 50% 50% 50%;
  transform: rotate(1deg)scale(0.9);
}


div.oog .oog-rechts{
  background: black;
  height: 91px;
  width: 39px;
  position: relative;
  top: -37px;
  left: 259px;
  border-radius: 50% 50% 40% 50% / 49% 50% 50% 50%;
  transform: rotate(11deg);
}

div.oog .oog-rechts .pupil-rechts{
  background: black;
  height: 67px;
  width: 25px;
  position: relative;
  border-radius: 50%;
  left: -8px;
  top: 34px;
  z-index: 199;
  transform: rotate(8deg);
}

div.oog .oog-rechts .pupil-rechts::after{
  content: "";
  background: white;
  height: 27px;
  width: 7px;
  position: absolute;
  border-radius: 50%;
  left: 8px;
  top: 13px;
  z-index: 199;
  transform: rotate(-3deg);
}

div.oog .oog-rechts .pupil-rechts-cut{
  background: var(--main-sonic-color);
  height: 67px;
  width: 25px;
  position: relative;
  border-radius: 50%;
  left: -26px;
  top: -44px;
  z-index: 200;
  transform: rotate(6deg);
}

div.hoofd .oor-links{
  position: absolute;
  transform: rotate(356deg) scale(0.43);
  left: 49px;
  top: -28px;
}

div.hoofd .oor-rechts{
  position: absolute;
  transform: scale(0.31) rotate(345deg);
  left: 205px;
  top: -57px;
  z-index: -2;
}

div.hoofd .oor-links .oor-shadow{
  box-sizing: border-box;
  width: 171px;
  height: 343px;
  position: absolute;
  top: -76px;
  right: 42px;
  transform: scale(0.85);
}



div.container::before{
  content: "";
  /* background: white; */
  height: 100vh;
  width: 100vw;
  position: absolute;
  /* z-index: 1000; */
}

@keyframes flash{
  0%{
    background: white;
    z-index: 1000;
    opacity: 1;
  }

  50%{
    opacity: 0.5;
  }

  100%{
    z-index: 0;
    opacity: 0;
  }
}

@keyframes spin{

  0%{
    transform: rotate3d(0, 1, 0, 360deg);
  }

  50%{
    transform: rotate3d(0,1,0 180deg);
  }

  100%{
    transform: rotate3d(0,1,0 360deg);
  }


}
  
div.container.flash::before{
    animation: flash 4s ease 0s 1 normal none;
}


@media screen and (max-width: 380px){
  div.sonic{
    left: 35px;
  }
}

@media screen and (max-width: 1350px){
  div.gems{
    height: 100px;
    width: 100px;
    top: 502px;
  }
}

@media screen and (max-width: 1000px){
  div.sonic{
    transform: scale(0.9);
  }
  div.gems{
    height: 100px;
    width: 100px;
    top: 513px;
  }
}

@media screen and (max-width: 2000px){
  div.gems{
    top: 460px;
  }
}

@media screen and (max-width: 600px){
  div.sonic{
    transform: scale(0.7);
  }
}

div.ring-container{
  position: fixed;
  top: 24px;
  left: 24px;
}

span.counter{
  font-family: 'RuneScape UF';
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
}

.amount{
  color: white;
}

.decla{
  color: #E7E700;
}

.ring{
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 1000;
}

.btn-ring{
  height: 50px;
  width: 50px;
  z-index: 1000;
  position: absolute;
  outline: none;
  animation: spin 2s linear infinite;
}

.ear-super{
  fill: #E7E700;
}

.ear{
  fill: #0072bb;
}

.rechterwenkbrauw{
  fill: #0072bb;
}

.rechterwenkbrauw-super{
  fill: #E7E700;
}


/* div.test{
  box-sizing:border-box;
	width:20em;
	height:20em;
	background-color:transparent;
	
	border-radius:50% 50% 50% 60% / 50% 50% 50% 50%;
	
	border-style:solid;
	
	border-width:3em 3em 4em 4em;
	
	border-color: transparent transparent #fee8da transparent;
}

div.test2{
  position: absolute; 
  top: 50%; 
  left: 10px; 
  transform: translate(-50%, -50%); 
  height: 50px; 
  width: 25px; 
  border-radius: 150px 150px 0 0; 
  background-color: #fee8da; 
} */


/* div.haar .spike:nth-of-type(3) .curve{
  background:white;
  width: 85px;
  height: 31px;
  border-radius: 50%;
  left: -157px;
  top: 84px;
  position: absolute;
  transform: rotate(346deg);
} */

/* div.mond{
  background: #fee8da;
  position: relative;
  width: 100px;
  top: 92px;
} */

/* div.hoofd .oor{
  clip-path: polygon(52% 22%, 46% 35%, 65% 29%);
  position: relative;
  z-index: 500;
  background-color: black;
  top: 92px;
  width: 500px;
  height: 484px;
} */
/* div.haar .spike .curve{
  background: white;
  width: 200px;
  height: 40px;
  position: relative;
  top: 73px;
  right: 145px;
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
} */




/* div.haar .spike:nth-of-type(2){
  width: 0;
  height: 0;
  border-left: 140px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #0072BB;
}  */


/* div.haar .spike:nth-of-type(3){
  width: 0;
  height: 0;
  border-left: 140px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #0072BB;
} */
